<div class="postItem">
  <h2 class="postTitle">{{title}}</h2>
  <p class="postDate">{{createdAt}}</p>
  <p class="postAuthor">{{authorName}}</p>
  <p class="postContent">{{post_content}}</p>

  
</div>