<div id="createPost">
  <form id="newPostForm">
    <div class="inputGroup">
      <label for="postTitle">Title: </label>
      <input type="text" name="postTitle" id="postTitle" required />
    </div>
    <div class="inputGroup">
      <label for="postContent">Content: </label>
      <textarea
        name="postContent"
        id="postContent"
        rows="10"
        required
      ></textarea>
    </div>
    <div class="submitContainer">
      <button id="submitBtn" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/createPost.js"></script>