<div class="editPost">
  <form id="newPostForm">
    <div>
      <label class="emailLabel" for="postTitle">Title: </label>
      <input type="text" name="postTitle" class="postClass" required />
    </div>
    <div>
      <label class="emailLabel" for="postContent">Content: </label>
      <textarea
        name="postContent"
        class="postClass"
        rows="10"
        required
      ></textarea>
    </div>
    <div class="submitContainer">
      <button class="pageBtn" type="submit">Submit</button>
  </form>
</div>

<script src="/js/createPost.js"></script>