<div id="dashboard">
  <div id="userPostsContainer">
    {{#if posts.length}}
      <h2>Your Posts:</h2>
      {{#each posts as |post|}}
        <div class="userPost">
          <a
            href="/dashboard/post/{{post.id}}"
            class="postTitle"
          >{{post.title}}</a>
          <a href="/dashboard">
            <button class="editPostBtn" id="deleteBtn">Delete</button>
          </a>
        </div>
      {{/each}}
    {{else}}
      <h2>You currently have no posts</h2>
    {{/if}}
  </div>

  <a class="pageBtn" href="/dashboard/new">Create new post</a>

</div>

<script src="/js/dashboard.js"></script>