<div id="eachPost">
   
    <a href="/dashboard">
      <button class="editPostBtn">Back</button>
    </a>

  {{>postInfo post}}

  {{#if logged_in}}

  <div class="eachPostBtns">
    <a href="/dashboard/edit/{{post.id}}">
      <button class="editPostBtn">Edit</button>
    </a>
    <a href="/dashboard">
      <button class="editPostBtn" id="deleteBtn">Delete</button>
    </a>
  </div>

    {{/if}}
  
  {{#if logged_in}}
  <div id="addComment">
    <form>
      <div id="commentForm">
        <label for="comment-content">Add your comment: </label>
        <textarea name="comment-content" id="commentContent" cols="30" rows="1" placeholder="Write your comment here..."></textarea>
        <button class="editPostBtn" type="submit">Submit</button>
      </div>
     
    </form>
  </div>
    
  {{/if}}

  {{>comments post.comments}}

</div>

<script src="/js/eachPost.js"></script>
<script src="/js/comment.js"></script>
