<div id="loginSection">
  <h1 class="boxTitle">Login</h1>
  <form id="loginForm" class="formBox">
    <div class="inputGroup">
      <label for="emailLogin">Email: </label>
      <input
        class="loginBox borderRad paddingLR font2"
        type="text"
        id="emailLogin"
        placeholder="Example@email.com"
      />
    </div>
    <div class="inputGroup">
      <label for="passwordLogin">Password: </label>
      <input
        class="loginBox borderRad paddingLR font2"
        type="password"
        id="passwordLogin"
        placeholder="YourPassword"
      />
    </div>
    <div class="inputGroup">
      <button class="pageBtn borderRad" type="submit">Login</button>
    </div>
    <div class="inputGroup">
      <p>Don't have an account? <a href="/signup">Click here to Sign Up</a></p>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>