<div id="loginSection">
  <h1 class="boxTitle">Login</h1>
  <form id="loginForm" class="formBox">
    <div class="inputGroup">
      <label class="emailLabel" for="emailLogin">Email: </label>
      <input
        class="loginBox"
        type="text"
        id="emailLogin"
        placeholder="Example@email.com"
      />
    </div>
    <div class="inputGroup">
      <label class="passwordLabel" for="passwordLogin">Password: </label>
      <input
        class="loginBox"
        type="password"
        id="passwordLogin"
        placeholder="YourPassword"
      />
    </div>

    <button class="pageBtn" type="submit">Login</button>

    <p>Don't have an account? <a href="/signup">Click here to Sign Up</a></p>
  </form>
</div>

<script src="/js/login.js"></script>