<div id="signupSection">
  <h1 class="boxTitle">Signup</h1>
  <form id="signupForm" class="formBox">
    <div class="inputGroup">
      <label for="nameSignup">Name: </label>
      <input
        class="loginBox formInput borderRad paddingLR font2"
        type="text"
        id="nameSignup"
        name="nameSignup"
        placeholder="John Example Doe"
      />
    </div>
    <div class="inputGroup">
      <label for="emailSignup">Email: </label>
      <input
        class="loginBox formInput borderRad paddingLR font2"
        type="text"
        id="emailSignup"
        name="emailSignup"
        placeholder="Example@email.com"
      />
    </div>
    <div class="inputGroup">
      <label for="passwordSignup">Password: </label>
      <input
        class="loginBox formInput borderRad paddingLR font2"
        type="password"
        id="passwordSignup"
        name="passwordSignup"
        placeholder="YourPassword"
      />
    </div>
    <div class="inputGroup">
      <button class="pageBtn borderRad" type="submit">Signup</button>
    </div>
    <div class="inputGroup">
      <p>Already have an account? <a href="/login">Click here to Login</a></p>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>